.chartsTable {
    box-shadow: -10px 10px 50px rgba(11, 0, 35, 0.05);
    border-radius: 16px;
    padding: 20px 20px;
    width: 900px;
    height: 500px;
    margin: 10px;
    background-color: white;
}

.chartsTableDiv {
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}