@media (max-width: 666px) {
    .menuWrapper {
        height: 150px;
        width: 300px;
        overflow: auto;
    }
}


@media (min-width: 667px) {
    .menuWrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1300px) {
    .menuWrapper {
        grid-template-columns: repeat(6, 1fr);
    }
}

.menuWrapper {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    width: fit-content;
    margin: 20px auto;
    border-radius: 16px;
    padding: 20px 20px;
    background-color: white;
    -webkit-box-shadow: -3px 7px 47px 15px rgba(3, 8, 78, 0.16);
    -moz-box-shadow: -3px 7px 47px 15px rgba(3, 8, 78, 0.16);
    box-shadow: -3px 7px 47px 15px rgba(3, 8, 78, 0.16);
}




.textClass {
    margin-bottom: 5px;
}

.linksBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}


.linkInitial {
    text-decoration: none;
    font-size: 30px;
    color: #002596;
    font-weight: 700;
}

.initialTableWrapper {
    background-color: white;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    width: 70%;
    position: absolute;
    -webkit-box-shadow: -3px 7px 47px 15px rgba(3, 8, 78, 0.16);
    -moz-box-shadow: -3px 7px 47px 15px rgba(3, 8, 78, 0.16);
    box-shadow: -3px 7px 47px 15px rgba(3, 8, 78, 0.16);
    border-radius: 16px;
    padding: 30px;
}


.linkInitial:active {
    transform: translateY(2px) translateX(2px);
}

.formTitle {
    font-weight: 700;
    font-size: calc(1rem + 2.1vw);
    text-align: center;
    line-height: 120%;
    color: #002596;
}

.formDescription {
    font-size: 16px;
    text-align: center;
    color: #949494;
    padding: 5px 0 30px 0;
}

.react_datepicker {
    width: 100%;
}

.hideCalendar {
    display: none;
}

.formInput {
    margin-top: 20px;
}

.menuInput {
    margin-bottom: 10px;
}


.formInput p {
    font-size: 16px;
    margin-bottom: 8px;
}

.changeDirectionBox {
    --arrow-size: 15px;
    --tooltip-color: #545B77;

    width: 180px;
    position: absolute;
    left: 0;
    top: 90px;
    border-radius: 16px;
    background-color: var(--tooltip-color);
    padding: 8px;
    z-index: 1;
}




.changeDirectionBox::before {
    content: '';
    position: absolute;
    transform: translateX(-50%) translateY(5px);
    border: var(--arrow-size) solid transparent;
    left: 50%;
    top: -2rem;
    border-bottom-color: var(--tooltip-color);
}


.changeDirectionText {
    font-size: 14px;
    text-align: center;
    font-weight: 600;
    color: #FFFFFF;
}

.selectWrapper {
    position: relative;
}

/*.chartChange {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    gap: 0;*/
/*    width: max-content;*/
/*    height: 2rem;*/
/*    justify-content: center;*/
/*    padding: 10px;*/
/*    border: 1px solid #002596;*/
/*    cursor: pointer;*/
/*    border-radius: 16px;*/
/*}*/

.chartChangeLeftItem {
    border-radius: 16px 0 0 16px;
    border-right: 1px solid red;
}

.chartChangeRightItem {
    border-radius: 0 16px 10px 0;
}

