

.menuWrapper {
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    margin: 30px;
    box-shadow: -10px 10px 50px rgba(11, 0, 35, 0.05);
    border-radius: 16px;
    padding: 20px 20px;
    background-color: white;
}

.initialTable {
    background-color: white;
    width: 70%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #002596;
    border-radius: 16px;
    padding: 30px;
}

.textClass {
    margin-bottom: 5px;
}

.linksBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
}


.linkTable {
    text-decoration: none;
    font-size: 30px;
    color: #002596;
    font-weight: 700;
}

.formTitle {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    line-height: 120%;
}

.formDescription {
    font-size: 16px;
    text-align: center;
    color: #949494;
    padding: 5px 0 30px 0;
}

.react_datepicker {
    width: 100%;
}

.hideCalendar {
    display: none;
}

.formInput {
    margin-top: 20px;
}

.menuInput {
    margin-bottom: 10px;
}


.formInput p {
    font-size: 16px;
    margin-bottom: 8px;
}
