@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('./fonts/Roboto-Light.eot');
    src: local('Roboto Light'), local('Roboto-Light'),
    url('./fonts/Roboto-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Light.woff2') format('woff2'),
    url('./fonts/Roboto-Light.woff') format('woff'),
    url('./fonts/Roboto-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('./fonts/Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
    url('./fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Regular.woff2') format('woff2'),
    url('./fonts/Roboto-Regular.woff') format('woff'),
    url('./fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('./fonts/Roboto-Medium.eot');
    src: local('Roboto Medium'), local('Roboto-Medium'),
    url('./fonts/Roboto-Medium.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Medium.woff2') format('woff2'),
    url('./fonts/Roboto-Medium.woff') format('woff'),
    url('./fonts/Roboto-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('./fonts/Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('./fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Bold.woff2') format('woff2'),
    url('./fonts/Roboto-Bold.woff') format('woff'),
    url('./fonts/Roboto-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto';
    font-display: swap;
    src: url('./fonts/Roboto-Black.eot');
    src: local('Roboto Black'), local('Roboto-Black'),
    url('./fonts/Roboto-Black.eot?#iefix') format('embedded-opentype'),
    url('./fonts/Roboto-Black.woff2') format('woff2'),
    url('./fonts/Roboto-Black.woff') format('woff'),
    url('./fonts/Roboto-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../public/mapPng.png');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 140%;
}
*::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

*::-webkit-scrollbar-track {
    background: #FFFFFF;
    border: none;
}

*::-webkit-scrollbar-thumb {
    background: #0050FF;
    border: none;
    border-radius: 4px 0 0 4px;
}

input {
    border: 1px solid #D0D0D0;
    width: 100%;
    border-radius: 16px;
    font-family: 'Roboto', sans-serif;
    height: 40px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px;
    color: #0B0023;
    outline: none;

}

.datePicker {
    background-color: black;
}

.react-select__single-value {
    display: flex;
    align-items: center;
    height: 100%;
}
