@media (min-width: 950px) {
    .headerIcon {
        display: none;
    }

}

@media (max-width: 951px) {
    .header {
        margin-bottom: 30px;
    }
}

.header {
    width: 100%;
    background-color: #002596;
    padding: 20px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.rightHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.headerLink {
    text-decoration: none;
    font-size: 30px;
    color: white;
    font-weight: 700;
}


